        * {
            margin: 0px;
            padding: 0px;
        }

        h1 {
            color: white;
            margin: 50px 0px;
        }

        body {
            text-align: center;
            background-color: rgb(5, 51, 50);
        }

        .game {
            margin: auto;
            width: 50%;
        }

        .btn {
            background-color:white;
            box-shadow: 0px 0px 10px rgba(41, 98, 136, 0.2);
            width: 30%;
            height: 150px;
            border: none;
            margin: 5px;
            font-size: 50px;
            font-weight: bold;
        }

        #reset {
            padding: 10px 40px;
            font-size: 18px;
            border-radius: 40px;
        }